<!-- University Information -->
<section id="UniversityInfo" class="wrapper style3">
    <div class="inner">
        <div id="flexgrid">
            <div>
                <header>
                    <h3>Waterloo Undergraduate Studies Guide</h3>
                </header>
                <p>The calendar provides official information about courses, programs and plans, related policies, and
                    regulations for both students and applicants, as well as general information about the University.
                </p>
                <ul class="actions">
                    <li><a href="https://ugradcalendar.uwaterloo.ca/page/uWaterloo-Undergraduate-Calendar-Access"
                            class="button alt">Learn More</a></li>
                </ul>
            </div>
            <div>
                <header>
                    <h3>The Road to Engineering</h3>
                    <br>
                </header>
                <p>Professor William Bishop blog about his thoughts on the road towards being a professional engineer.
                    Fun fact: He was my ECE 224 (Embedded Microprocessor Systems) professor!</p>
                <ul class="actions">
                    <li><a href="https://theroadtoengineering.com/author/wdbishop94/" class="button alt">Learn More</a>
                    </li>
                </ul>
            </div>
            <div>
                <header>
                    <h3>Computer and Electrical Engineering</h3>
                    <br>
                </header>
                <p>Offical information about Electrical and Computer Engineering at the University of Waterloo</p>
                <br>
                <ul class="actions">
                    <li><a href="https://uwaterloo.ca/electrical-computer-engineering/" class="button alt">Learn
                            More</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>