/* Courses Component's private CSS styles */
.badge {
  padding: 1px 9px 2px;
  font-size: 12.025px;
  font-weight: bold;
  white-space: nowrap;
  color: #ffffff;
  background-color: #999999;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.badge:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.badge-1A {
  background-color: red;
}

.badge-1B {
  background-color: orange;
}

.badge-2A {
  background-color: tan;
}

.badge-2B {
  background-color: green;
}

.badge-3A {
  background-color: blue;
}

.badge-PD{
  background-color: black;
}
.badge-PD{
  background-color: black;
}




/* */