<footer id="ContactMe" class="wrapper">
    <div class="inner">
        <section>
            <div class="box">
                <div class="content">
                    <h2 class="align-center">Get in Touch</h2>
                    <hr />
                    <form action="#" method="post">
                        <div class="field half first">
                            <label for="name">Name</label>
                            <input name="name" id="name" type="text" placeholder="Name">
                        </div>
                        <div class="field half">
                            <label for="email">Email</label>
                            <input name="email" id="email" type="email" placeholder="Email">
                        </div>
                        <div class="field">
                            <label for="dept">Reason</label>
                            <div class="select-wrapper">
                                <select name="dept" id="dept">
                                    <option value="">- Choose -</option>
                                    <option value="1">General Comment</option>
                                    <option value="2">Questions</option>
                                    <option value="3">Get In Touch</option>
                                </select>
                            </div>
                        </div>
                        <div class="field">
                            <label for="message">Message</label>
                            <textarea name="message" id="message" rows="6" placeholder="Enter Message Here"></textarea>
                        </div>
                        <ul class="actions align-center">
                            <li><input value="Send Message" class="button special" type="submit"></li>
                        </ul>
                    </form>
                </div>
            </div>
        </section>
        <div class="copyright">
            &copy; Matthew Tang's Personal Project Jan 2020: <a
                href="https://github.com/Matt-Tang/Course-Critique">Course-Critique</a>
        </div>
    </div>
</footer>