<app-home-page></app-home-page>
<app-biography></app-biography>
<!-- <app-carousel></app-carousel> -->
<app-transfer-info></app-transfer-info>

<!-- Course Critique Info -->
<section id="CourseCritique" class="wrapper style2">
    <div class="inner">
        <div>
            <div class="box">
                <div class="content">
                    <header class="align-center">
                        <h2><span class="engineerColour">My ECE Undergraduate Courses</span></h2>
                        <p><span class="engineerColour">1A to 4B</span></p>
                    </header>
                    <hr />
    
                        <!-- <nav>
                            <a routerLink="/courses">Courses</a>
                        </nav> -->
                        <router-outlet></router-outlet>
 
                </div>
            </div>
        </div>
    </div>
</section>

<app-university-info></app-university-info>
<app-contact-me></app-contact-me>