<!-- Biography -->
<section id="Biography" class="wrapper style2">
    <div class="inner">
        <div>
            <div class="box">
                <div class="content">
                    <header class="align-center">
                        <h2><span class="engineerColour">"LIFE IS NOT ALWAYS ABOUT WINNING"</span></h2>
                        <p><span class="engineerColour">⚡ Matthew Tang's Undergraduate Adventure ⚡</span></p>
                    </header>
                    <hr />
                    <p>I am currently a Computer Engineering student at the University of Waterloo. I was originally
                        admitted for the <i>Chemical Engineering</i> program and started school in September 2017. After
                        my 1A
                        term and 1 coop term, I switched into <i>Computer Engineering</i>.</p>
                    <p>The purpose of this website is to allow other students to read my accomplisments and struggles as
                        a Waterloo Engineering Student. My course reviews are <b><span class="importantText_p">MY OWN
                                HONEST OPINION</span></b> and I will
                        aim to provide meaninful insight to those who will take these courses in the future. I hope you
                        enjoy the read and I will try to update this as frequently as possible.</p>
                    <footer class="align-center">
                        <a href="#Photos" class="button special scrolly">Continue</a>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</section>