<!-- Header -->
<header id="header" class="alt">
    <div class="logo"><a href="https://github.com/Matt-Tang/Course-Critique-Updated">Course Critiques <span>by MATTHEW
                TANG</span></a></div>
    <a href="#menu" class="toggle"><span>Menu</span></a>
</header>

<!-- Nav -->
<nav id="menu">
    <ul class="links">
        <li><a href="https://matt-tang.github.io/">Personal Website</a></li>
        <li><a href="https://medium.com/matthew-tang">Personal Blog</a></li>
        <li><a href="https://drive.google.com/file/d/1YGiUzLPn-W4WmZWsyt1H6r7FvcVWnUKP/view?usp=sharing">Resume</a></li>
        <li><a href="https://github.com/Matt-Tang">Github</a></li>
        <li><a href="https://www.linkedin.com/in/matthewlytang/">LinkedIn</a></li>
        <li><a href="https://www.instagram.com/mlytang/?hl=en">Instagram</a></li>
    </ul>
</nav>

<!-- Banner -->
<section id="banner" data-video="images/banner">
    <div class="inner">
        <h1>Computer Engineering</h1>
        <p>An Academic Reflection of <span class="myNameColour">Matthew Tang's</span> Undergraduate Experience<br />
            at the University of Waterloo 2017-2022</p>
        <p>- Integrated with UW Flow - </p>
        <p>Last Updated: April 10, 2021</p>
        <a href="#Biography" class="button special scrolly">Biography</a>
    </div>
</section>