<section id="Transfer" class="wrapper style2">
    <div class="inner">
        <div class="grid-style">

            <div>
                <div class="box">
                    <div class="content">
                        <header class="align-center">
                            <h2><span class="engineerColour">Why Did I Switch Programs?</span></h2>
                            <p><span class="mint">Chemical Engineering</span> → <span class="peach">Computer Engineering</span></p>
                        </header>
                        <hr />
                        <p>Initially, I chose Chem Eng because I was really good at high school chemistry and thought
                            that I would like designing and controlling huge chemical processes. After taking CHE 100
                            (Chemical Engineering Concepts 1) I realized that Chemical Engineering is only about 30%
                            chemistry and 70% process control. Needless to say, I did not do as well as I wanted in this
                            course, but scored significantly higher in Calculus, Physics, and Linear Algebra. This was
                            the first indication that the program was not meant for me.</p>
                        <p>I heard from a lot of upper years that the first job search will be hard regardless of what
                            program you are in. I only got 1 interview in main round but luckily, I secured a placement
                            1 week before the end of classes. As a stream 4 student, I struggled a lot similar to my
                            classmates to find a good releavant co-op placement in 1A and ended up as a Project Manager (PM)
                            for a research company.</p>
                        <p>It was during my time as a PM that I got advice from my manager to switch programs. I really
                            hated my first job and I was really scared of another irreleavant co-op placement in my
                            future terms. I often got jealous of my friends who were in tech related fields enjoying
                            their jobs and working on cool projects. I did not get treated very well by my boss and I
                            took a leap of faith and switched programs as fast as possible.</p>
                        <p>Looking back now, Chem Eng is just a program that struggles finding good placements and
                            requires a strong background for the first job search. I switched because I did not see
                            myself doing this for the rest of my life and that I liked the computer engineering/computer
                            science industry better.</p>
                        <span class="importantText_p">
                            <p>This is not to say that Chem Eng is a horrible program and I am not trying to deter
                                anyone from going into this field. This is my own experiences and opinions. I have a lot
                                of good friends in Chem Eng that I am close to and they absolutely love the program. It
                                just wasn't for me.</p>
                        </span>
                    </div>
                </div>
            </div>

            <div>
                <div class="box">
                    <div class="content">
                        <header class="align-center">
                            <h2><span class="engineerColour">The Transfer Process</span></h2>
                            <p><a
                                    href="https://uwaterloo.ca/engineering/current-undergraduate-students/academic-support/program-transfers">Information
                                    for Engineering Transfers</a></p>
                        </header>
                        <hr />
                        <p>Initially, I emailed Engineer Transfers (email is found in the link above) and I attached a
                            full page document on my reasons on transferring out. I wrote about what I disliked about
                            the program and how I thought the program did not fit my personal goals.</p>
                        <p>When I sent the email, I initially applied to transfer into Mechanical Engineering. My marks
                            were high enough (>80% or higher is the recommended average to switch engineering programs
                            but that is subject to change based on every individual) but I was not able to transfer
                            because the class size being too big.</p>
                        <p>When I got the denied, I was very upset. I knew personally that I could not pursue a field
                            that I no longer had an interest in, so I asked to switch into Mechatronics Engineering.
                            Again, I was denied due to the class size being too big. I was devasted and I knew I had to
                            switch out but I was running out of choices.</p>
                        <p>At this point, I just applied to Computer Engineering because I wanted to do anything but
                            Chem Eng. I did not really think it through or consult my parents. Luckily, they had space
                            and I was admitted! I barely programmed in high school and I signed up for a program that
                            required a lot of knowledge in computers/programming.</p>
                        <p>After I switched, all of my 1A credits were course equiavlent and I only had to take an
                            online course <a href="https://www.athabascau.ca/syllabi/comp/comp206.php">COMP 206</a> at
                            Athabasca University to make up for 1 credit. My original graduation date was not delayed.
                        </p>
                        <span class="importantText_p">
                            <p>I am very glad that it worked out because it turns out I really like this program and the
                                course content matches what I want to do in the future. <u>This was the best decision I
                                    made in my life.</u> A word of advice to anyone reading: If you have any doubts
                                about your program talk to your academic advisor. If you want to switch programs, DO IT
                                AS SOON AS POSSIBLE AND DON'T WAIT. I have friends who wanted to switch out after 2A but
                                it was incrediably difficult (They would graduate late or they did not have the marks to
                                transfer out)</p>
                        </span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>